footer{
    background-color: #000000;
  }
  footer a{
    color: #ffffffda !important;
    text-decoration: none !important;
  }
  footer h4{
    color: white !important;
  }
  footer p{
    color: #ffffffda !important;
  }
  footer img{
    width: 30px;
    height: auto;
  }
  footer span{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer hr{
      color: #ffffffda;
  }